:root {
  --primary: #ffffff;
  --primary-highlight: #c8d6e5;
  --secondary: #222f3e;
  --secondary-highlight: #1e272e;
  --tertiary: #ff6b81;
  --tertiary-highlight: #ff4757;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--primary);
  background-color: var(--secondary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 2vmin;
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  height: 100%;
}

h1 {
  margin: 0;
}

h2 {
  font-size: inherit;
}

button {
  padding: 5%;
  background-color: var(--tertiary);
  border: none;
  font-size: inherit;
  display: block;
  width: 100%;
  margin: 5% 0;
  font-weight: bold;
}

button:hover,
button:active,
button:focus {
  background-color: var(--tertiary-highlight);
}

.bingo-machine {
  width: 96%;
  padding: 0 2.5%;
  display: flex;
  align-items: center;
  height: 100%;
}

.bingo-caller {
  display: flex;
  gap: 2.5%;
  width: 100%;
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 80%;
  border: 1px solid var(--primary);
}

.bingo-board-cell {
  text-align: center;
  padding: 20%;
  border: 1px solid var(--primary);
}

.bingo-board-cell--called {
  background-color: var(--tertiary);
}

.bingo-controls {
  width: 20%;
}

.number-display {
  background-color: var(--secondary-highlight);
  text-align: center;
  font-size: 2rem;
  padding: 5%;
}

.bingo-player {
  display: none;
  font-size: 15rem;
  width: 100%;
  text-align: center;
}

@media (min-width: 2000px) {
  .bingo-player {
    display: block;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  button {
    padding: 2.5%;
    margin: 2.5% 0;
  }

  .number-display {
    font-size: 1.5rem;
    padding: 2.5%;
  }

  .bingo-machine {
    display: block;
  }

  .bingo-caller {
    flex-direction: column;
  }

  .bingo-board {
    margin: 2.5% 0;
    font-size: 0.8rem;
  }

  .bingo-board,
  .bingo-controls {
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--secondary);
    background-color: var(--primary);
  }

  .bingo-board {
    border-color: var(--secondary);
  }

  .bingo-board-cell {
    border-color: var(--secondary);
  }

  .number-display {
    background-color: var(--primary-highlight);
  }
}
