:root {
  --primary: #ffffff;
  --secondary: #2f3542;
  --highlight: #ff6b81;
  --highlight-active: #ff4757;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--primary);
  background-color: var(--secondary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 1em 2%;
  font-size: 1.2rem;
}

button {
  padding: 1em 2%;
  background-color: var(--highlight);
  border: none;
  font-size: inherit;
}

button:hover,
button:active,
button:focus {
  background-color: var(--highlight-active);
}

button:focus {
  border: 2px solid var(--highlight-active);
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 80%;
  border: 1px solid var(--primary);
}

.bingo-board-cell {
  text-align: center;
  padding: 1em 2%;
  border: 1px solid var(--primary);
}

.bingo-board-cell--called {
  background-color: var(--highlight);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--secondary);
    background-color: var(--primary);
  }

  .bingo-board {
    border-color: var(--secondary);
  }

  .bingo-board-cell {
    border-color: var(--secondary);
  }
}
