:root {
  --primary: #ffffff;
  --primary-highlight: #c8d6e5;
  --secondary: #222f3e;
  --secondary-highlight: #1e272e;
  --tertiary: #ff6b81;
  --tertiary-highlight: #ff4757;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--primary);
  background-color: var(--secondary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 1em 2%;
  font-size: 1.2rem;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1.2rem;
}

button {
  padding: 1em 2%;
  background-color: var(--tertiary);
  border: none;
  font-size: inherit;
  display: block;
  width: 100%;
  margin: 1em 0;
  font-weight: bold;
}

button:hover,
button:active,
button:focus {
  background-color: var(--tertiary-highlight);
}

.bingo-caller {
  display: flex;
  gap: 2%;
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 80%;
  border: 1px solid var(--primary);
}

.bingo-board-cell {
  text-align: center;
  padding: 1em 2%;
  border: 1px solid var(--primary);
}

.bingo-board-cell--called {
  background-color: var(--tertiary);
}

.bingo-controls {
  width: 20%;
}

.number-display {
  background-color: var(--secondary-highlight);
  text-align: center;
  font-size: 2rem;
  padding: 0.4em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--secondary);
    background-color: var(--primary);
  }

  .bingo-board {
    border-color: var(--secondary);
  }

  .bingo-board-cell {
    border-color: var(--secondary);
  }

  .number-display {
    background-color: var(--primary-highlight);
  }
}
